@import "~design-system/_sass/reusable-components/design-system-config";

.contactView-locked-background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    background: rgba($white, .3);
}

.contactView-locked-background ~ * {
    pointer-events: none;
    filter:blur(1px);
}

.contactView-locked-background .contactPromote-container {
    background: $white;
    padding: 1.5em 2em 1em 2em;
    border: 1px solid $pm-global-border;
    border-radius: $global-border-radius;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}