RewriteEngine On

# Redirect to https if not coming from https && not forwarded from https && not curl nor any health check user-agent
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteCond %{HTTP_USER_AGENT} !(^kube-probe|^GoogleHC|^curl)
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect nothing to app
RewriteRule ^$ /index.html [NC,L]

# Redirect from protonContact to protonMail
RewriteRule ^(.*)$ https://beta.%{SERVER_NAME} [R=301,L]
